// Color Variables
$body-color: #f4f5f6;
$white: #fff;
$primary-color: #9579ff;
$secondary-color: #ff4545;
$black: #000;
$text-color: #777777;
$text-color-dark: #182345;
$text-color-light: #acacac;
$border-color: #dedede;
$footer-background-color: #272E34;

// Gradients
$primary-gradient: linear-gradient( 90deg, rgb(255,100,87) 0%, rgb(253,80,137) 100%);
$secondary-gradient: linear-gradient( 90deg, rgb(109,167,251) 0%, rgb(63,131,243) 100%);
$violate-gradient: linear-gradient( 67deg, rgb(148,62,199) 0%, rgb(60,55,191) 100%);

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$icon-font: 'themify';

// Site Colors
$site-orange: #ff8853;
$site-magenta: #27cdcb;
$site-pink: #ff5694;
$site-green: #57da92;
$site-froly: #f77b8a;
