.blog{
    padding: 0 0 100px;
    margin-top: -250px;
    &-post{
        overflow: hidden;
        border-radius: 0 100px;
        margin: 0 20px 50px;
        &-body{
            background: $white;
            padding: 40px 35px;
            span{
                font-size: 15px;
                display: block;
                color: #777777;
                margin-bottom: 20px;
            }
            p{
                line-height: 30px;
                margin-bottom: 30px;
            }
        }
        &-title{
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 10px;
            font-family: $secondary-font;
            font-weight: 700;
            display: block;
            color: $text-color-dark;
            transition: all 0.3s ease;
            &:hover{
                text-decoration: none;
                color: $site-pink;
            }
        }
        &-thumb{
            img{
                display: block;
                width: 100%;
            }
        }
    }
    &-single-post{
        background: $white;
        padding: 70px 30px;
        border-radius: 0 100px;
        margin-bottom: 100px;
        p{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        img{
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &-similar-post{
        h2{
            margin-bottom: 30px;
        }
        .blog-post{
            margin: 0 0 30px 0;
        }
    }
}