.feature{
    position: relative;
    padding: 180px 0 100px;
    &-items{
        position: relative;
    }
    &-item{
        background: $white;
        width: 48%;
    }
    &-content{
        margin-left: 50px;
        @include desktop{
            margin-left: 0;
        }
        h2{
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 70px;
            @include desktop{
                margin-bottom: 40px;
            }
        }
        @include tablet{
            text-align: center;
        }
        .btn{
            @include tablet{
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    &-counter{
        margin-top: 150px;
        text-align: center;
        background: $site-froly;
        padding: 30px 30px 35px;
        border-radius: 50px 0;
        @include desktop{
            margin-top: 80px;
        }
        &-number{
            color: $white;
            font-weight: 100;
            font-size: 80px;
            margin-bottom: 10px;
            @include tablet{
                font-size: 60px;
            }
            @include mobile{
                font-size: 40px;
            }
        }
        p{
            margin-bottom: 0;
            color: $white;
            font-size: 20px;
            @include tablet{
                font-size: 16px;
            }
        }
        
    }
    &-image{
        img{
            width: 100%;
        }
        @include desktop{
            margin-bottom: 50px;
        }
    }
    &.page-category-likes{
        @include tablet{
            padding: 100px 0;
        }
        .feature-items-shapes{
            position: absolute;
            width: 100%;
            height: 100%;
            img{
                position: absolute;
                opacity: 0.5;
                &.half-circle{
                    width: 120px;
                    height: auto;
                    top: -15%;
                    right: 10%;
                    animation-name: up-down;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    @include tablet{
                        top: -5%;
                    }
                }
                &.circle-triangle{
                    width: 100px;
                    right: 2%;
                    bottom: -10%;
                    animation-name: up-down;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                &.square-triangle{
                    width: 120px;
                    left: -15%;
                    bottom: 5%;
                    animation-name: left-right;
                    animation-duration: 2.5s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
            }
        }
        .feature-items-wrapper{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            &::before{
                position: absolute;
                content: '';
                width: 200px;
                height: 200px;
                background: $white;
                border-radius: 50%;
                z-index: 2;
                box-shadow: 0px 100px 133px 0px rgba(144, 151, 165, 0.24);
                left: 50%; top: 50%;
                transform: translate(-50%, -52%);
                @include desktop-lg{
                    transform: translate(-50%, -47%);
                }
                @include desktop{
                    transform: translate(-50%, -53%);
                }
                @include tablet{
                    transform: translate(-50%, -47%);
                }
                @include mobile{
                    transform: translate(-50%, -52%);
                }
            }
            @include desktop{
                margin-bottom: 50px;
            }
        }
        .feature-item{
            position: relative;
            z-index: 1;
            overflow: hidden;
            h2{
                font-size: 18px;
                width: 60%;
                margin-bottom: 15px;
                line-height: 24px;
                @include mobile{
                    width: 100%;
                }
            }
            &::before{
                position: absolute;
                content: '';
                width: 250px;
                height: 250px;
                background: #000;
                border-radius: 50%;
                z-index: -1;
            }
            &::after{
                position: absolute;
                content: '';
                width: 250px;
                height: 250px;
                background: #000;
                border-radius: 50%;
                z-index: -2;
            }
            margin-bottom: 4%;
            padding-left: 25px;
            padding-right: 25px;
            box-shadow: 0px 35px 65px 0px rgba(144, 151, 165, 0.24);
            &:nth-child(2n){
                margin-left: 4%;
            }
            &:nth-child(1), &:nth-child(2){
                padding-top: 50px;
                padding-bottom: 110px;
            }
            &:nth-child(3), &:nth-child(4){
                padding-top: 120px;
                padding-bottom: 50px;
                margin-bottom: 0;
            }
            &:nth-child(1){
                &::before{
                    right: 0;
                    bottom: 0;
                    transform: translate(54%, 54%);
                    background: #fe7a7e;
                }
                &::after{
                    left: 0;
                    bottom: 0;
                    background: #ffcacb;
                    transform: translate(-60%, 70%);
                }
            }
            &:nth-child(2){
                &::before{
                    left: 0;
                    bottom: 0;
                    transform: translate(-54%, 54%);
                    background: #53e9ea;
                }
                &::after{
                    right: 0;
                    bottom: 0;
                    background: #baf7f7;
                    transform: translate(60%, 50%);
                }
            }
            &:nth-child(3){
                &::before{
                    right: 0;
                    top: 0;
                    transform: translate(54%, -54%);
                    background: #8985f2;
                }
                &::after{
                    left: 0;
                    top: 0;
                    background: #cccafa;
                    transform: translate(-40%, -70%);
                }
            }
            &:nth-child(4){
                &::before{
                    left: 0;
                    top: 0;
                    transform: translate(-54%, -54%);
                    background: #8985f2;
                }
                &::after{
                    right: 0;
                    top: 0;
                    background: #fecfba;
                    transform: translate(70%, -20%);
                }
            }
        }
    }
    &.page-category-followers{
        .feature-counter{
            background: #ffb879;
            border-radius: 100px;
        }
        .feature-content{
            margin-left: 0;
        }
        .feature-shapes{
            opacity: 0.5;
            .half-circle{
                position: absolute;
                top: 5%;
                width: 120px;
                right: 10%;
                animation-name: up-down;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            .circle-triangle{
                position: absolute;
                width: 90px;
                bottom: 10%;
                left: 5%;
                animation-name: left-right;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}