.banner{
    position: relative;
    padding: 150px 0 40px;
    overflow: hidden;
    background-color: $primary-color;
    &-background{
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0.07;
        transform: scaleX(-1) translateY(-25%);
    }
    &-text{
        margin-top: 100px;
        h1,p{
            color: $white;
        }
        h1{
            margin-bottom: 30px;
            @include desktop-lg{
                margin-bottom: 20px;
                font-size: 45px;
            }
            @include mobile{
                font-size: 40px;
            }
            @include mobile-xs{
                font-size: 30px;
                margin-top: -10px;
            }
        }
        p{
            line-height: 30px;
            // width: 65%;
            margin-bottom: 100px;
            @include desktop-lg{
                margin-bottom: 30px;
            }
            @include desktop{
                width: 80%;
                margin: 0 auto 60px;
            }
            @include mobile{
                width: 100%;
                margin: 0 0 30px;
            }
        }
        @include desktop{
            text-align: center;
            margin-top: 0;
        }
    }
    &-buttons{
        .btn{
            &:not(:last-child){
                margin-right: 10px;
                @include desktop-lg{
                    margin-right: 5px;
                }
                @include desktop{
                    margin-right: auto;
                }
            }
            @include desktop-lg{
                padding: 15px 20px;
            }
            @include tablet{
                display: block;
                width: 80%;
                margin: 0 auto 15px;
            }
        }
    }
    &-image{
        position: relative;
        .image{
            @include desktop{
                width: 90%;
                // margin-left: -50px;
                margin-top: -30px;
            }
            // @include mobile{
            //     margin-left: -35px;
            // }
            // @include mobile-xs{
            //     margin-top: -40px;
            //     margin-left: -25px;
            // }
            img{
                width: 90%;
                @include desktop{
                    height: 500px;
                    width: auto;
                }
                @include tablet{
                    margin-left: -20px;
                }
            }
        }
        .icon{
            position: absolute !important;
            width: 85px !important;
            height: 85px !important;
            border-radius: 50%;
            text-align: center;
            line-height: 85px;
            transition: 0s ease !important;
            @include desktop-lg{
                width: 70px !important;
                height: 70px !important;
                line-height: 70px;
            }
            @include desktop{
                transition: .5s ease !important;
            }
            // @include mobile-xs{
            //     transform: scale(.7);
            // }
        }
        .love{
            background-color: $site-orange;
            box-shadow: 0px 13px 40px 0px rgba(238, 85, 101, 0.38);
            top: 7% !important; left: 10% !important;
            @include desktop-lg{
                left: 13% !important;
            }
            @include desktop{
                left: 20% !important;
            }
            img{
                width: 40%;
            }
        }
        .man{
            background-color: $site-green;
            top: 0% !important; right: -20% !important; left: unset !important;
            img{
                width: 30%;
            }
            @include desktop-xl{
                right: -10% !important;
            }
            @include desktop{
                right: 20% !important;
            }
        }
        .social{
            background-color: $site-magenta;
            top: 55% !important; left: 20% !important; 
            img{
                width: 40%;
            }
            @include desktop{
                left: 28% !important;
            }
            @include tablet{
                left: 20% !important;
            }
        }
        .eye{
            background-color: $site-pink;
            box-shadow: 0px 13px 40px 0px rgba(238, 85, 101, 0.38);
            top: 23% !important; right: -2% !important; left: unset !important;
            img{
                width: 70%;
            }
            @include desktop{
                right: 30% !important;
            }
            @include tablet{
                right: 20% !important;
                top: 35% !important;
            }
        }
    }
    &.banner-category-likes{
        background-color: $site-froly;
        padding: 150px 0 100px;
        @include mobile{
            padding: 90px 0 50px;
        }
    }
    &.banner-category-followers{
        background-color: $primary-color;
        padding: 150px 0 120px;
        @include mobile{
            padding: 90px 0 50px;
        }
        .banner-card-item{
            border-radius: 180px;
            padding: 100px 0;
            h2{
                margin-bottom: 50px;
                font-size: 30px;
            }
            &:last-child{
                transform: translateY(70px);
            }
            @include desktop{
                margin-bottom: 50px;
                padding: 70px 0;
            }
        }
    }
    &.banner-category-instant{
        padding: 150px 0 70px;
        @include tablet{
            padding: 80px 0 50px;
        }
        .banner-text{
            margin-top: 50px;
            margin-bottom: 20px;
            p{
                margin-bottom: 0;
            }
        }
        &.bg-froly{
            background: $site-froly;
        }
        &.bg-magenta{
            background: $site-magenta;
        }
    }
    &-card{
        display: flex;
        align-items: center;
        &-item{
            background: $white;
            width: 48%;
            text-align: center;
            flex: 1 auto;
            @include mobile{
                h2{
                    font-size: 26px;
                }
            }
            &:first-child{
                box-shadow: 0px 83px 50px 0px rgba(153, 50, 63, 0.17);
                border-radius: 60px 0;
                padding: 70px 0;
                @include mobile{
                    padding: 50px 0;
                }
                h2{
                    margin-bottom: 70px;
                    @include mobile{
                        margin-bottom: 50px;
                    }
                    span{
                        color: $site-froly;
                    }
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 70%;
                        height: 4px;
                        border-radius: 4px;
                        background: $site-froly;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .banner-card-list{
                    margin-bottom: 40px;
                    @include mobile{
                        margin-bottom: 30px;
                    }
                }
            }
            &:last-child{
                margin-left: 4%;
                border-radius: 0 60px;
                padding: 45px 0;
                @include mobile{
                    padding: 30px 0;
                }
                h2{
                    margin-bottom: 50px;
                    @include mobile{
                        margin-bottom: 30px;
                    }
                    span{
                        color: $site-magenta;
                    }
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 65%;
                        height: 4px;
                        border-radius: 4px;
                        background: $site-magenta;
                        bottom: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            @include mobile{
                .btn{
                    padding: 15px 20px;
                    font-size: 14px;
                }
            }
            @include mobile-xs{
                .btn{
                    padding: 15px 10px;
                    font-size: 12px;
                }
            }
        }
        &-list{
            padding: 0;
            margin: 0 0 30px;
            list-style-type: none;
            @include mobile{
                margin-bottom: 20px;
            }
            &-item{
                display: flex;
                justify-content: center;
                &.active{
                    svg{
                        path{
                            fill: #fe5972;
                        }
                    }
                }
                &.inactive{
                    svg{
                        path{
                            fill: #bfbfbf;
                        }
                    }
                    span{
                        color: #bfbfbf;
                    }
                }
                svg{
                    width: 17px;
                }
                span{
                    font-family: $secondary-font;
                    display: inline-block;
                    font-weight: 700;
                    margin-left: 10px;
                }
                &:not(:last-child){
                    margin-bottom: 25px;
                    @include mobile{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        @include desktop{
            margin-bottom: 50px;
        }
    }
    &.banner-product-details{
        padding: 100px 0 220px;
        @include desktop-lg{
            padding: 100px 0 250px;
        }
        .banner-background{
            transform: scaleX(-1) translateY(-25%);
        }
        &.bg-froly{
            background: $site-froly;
        }
    }

    &.banner-checkout{
        padding: 100px 0 280px;
        @include desktop-lg{
            padding: 100px 0 250px;
        }
        .banner-background{
            transform: scaleX(-1) translateY(-25%);
        }
        &.bg-froly{
            background: $site-froly;
        }
        &.bg-magenta{
            background: $site-magenta;
        }
    }
    &.banner-blog{
        padding: 100px 0 280px;
        @include desktop-lg{
            padding: 100px 0 250px;
        }
        .banner-blog-single{
            margin-top: 100px;
            h1{
                color: $white;
                font-size: 40px;
                width: 80%;
                margin-bottom: 20px;
                @include desktop{
                    width: 100%;
                }
                @include tablet{
                    font-size: 40px;
                }
            }
            p{
                color: $white;
            }
        }
    }
    &.banner-contact{
        padding: 100px 0 280px;
        @include desktop-lg{
            padding: 100px 0 250px;
        }
        .banner-text{
            p{
                margin-bottom: 10px;
                width: 70%;
                @include desktop{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}